<h1>景品受け取り</h1>

<hr>
<%= @reward.name %><br>
<%= @reward.description %><br>
<img src="<%= @reward.image_url %>" width="300px" hight="300px">
<hr>

<%= link_to "ガチャ景品を受け取りますか?", controller: "home", action: "index" %>
