<script>
<!--
function autoLink()
{
  location.href="/gacha/result";
}
setTimeout("autoLink()",3000); 
// -->
</script>

<h1>演出</h1>

ものすごい演出

<!--
<%= link_to "ガチャ結果(自動で飛ぶ)", controller: "gacha", action: "result" %>
-->
