<h1>訴求ページ</h1>

メモ：必要に応じてTwitter認証等を入れる

TWフォローの訴求など
<br><br>

<%= link_to "TWフォローしますか?", controller: "gacha", action: "effect" %>

<br><br>

<%= link_to "すでに引いてる場合(TODO:自動で飛ばす)", controller: "home", action: "result" %>
