<h1>Gacha#pre</h1>
<p>Find me in app/views/gacha/pre.html.erb</p>

TWフォローの訴求
<br><br>

<%= link_to "TWフォローしますか?", controller: "gacha", action: "effect" %>

<br><br>

<%= link_to "すでに引いてる場合(自動が望ましい)", controller: "home", action: "result" %>
