<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= image_tag("cong.png", width: "100%") %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-12 text-center">
    <h2>あなたが引いた景品はこちら(your gacha gift is)</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <h2><%= @reward.name %></h2>
      <img src="<%= @reward.image_url %>" width="300px" hight="300px">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
    <h2>この画面をブーススタッフに見せて景品を交換してください(show this page to booth staff, and receive gacha gift)</h2>
    </div>
  </div>
</div>
