<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= image_tag("thx.png", width: "100%") %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-12 text-center">
    <h2>あなたが引いた景品はこちら</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <h2><%= @reward.name %></h2>
      <img src="<%= @reward.image_url %>" width="300px" hight="300px">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 style="color:red;">注意</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
    <h2 style="color:red;">景品の抽選は打ち上げイベントにて行います</h2>
    <h2 style="color:red;">抽選イベントに参加したい方は打ち上げイベントに参加してね</h2>
    </div>
  </div>
</div>
