<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= image_tag("cong.png", width: "100%") %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-12 text-center">
    あなたが引いた景品は
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <%= @reward.name %><br>
      <img src="<%= @reward.image_url %>" width="300px" hight="300px">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
    です<br>
    この画面をブーススタッフに見せて景品を交換してください。
    </div>
  </div>
</div>
