<h1>Onlineガシャ</h1>

<%= link_to "今すぐ引く", controller: "gacha", action: "pre" %>

<h2>遊び方</h2>

遊び方の説明
<br><br>

<h2>報酬リスト</h2>

報酬のリスト
<br><br>

<%= link_to "ガチャ結果", controller: "home", action: "result" %>
