<h1>ガチャ結果</h1>

あなたが引いた報酬は

<hr>
<%= @reward.name %><br>
<%= @reward.description %><br>
<img src="<%= @reward.image_url %>" width="300px" hight="300px">
<hr>

です

<br><br>

<%= link_to "TOP", controller: "home", action: "index" %>
