<h1>受け取り景品</h1>

あなた受け取った景品は

<hr>
<%= @reward.name %><br>
<%= @reward.description %><br>
<img src="<%= @reward.image_url %>" width="300px" hight="300px">
<hr>

です

<br><br>

<%= link_to "TOP", controller: "home", action: "index" %>
